@model IEnumerable<mvc5.toturial.ashish.Models.Employee>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<table class="table table-striped" style="width:50%;">
    <tr>
        <th>
            Id Employee
        </th>
        <th>
            Name Employee
        </th>
        <th>
            Departament Employee
        </th>
    </tr>
    <tbody>
        @foreach (var item in ViewData["empList"] as List<mvc5.toturial.ashish.Models.Employee>)
        {
            <tr>
                <td>
                    @item.EmployeeId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Departament
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            ViewBag value is: <b>@ViewBag.name</b>
        </li>
        <li class="list-group-item">
            ViewData value is: <b>@ViewData["dataname"]</b>
        </li>
        <li class="list-group-item">
            TempData value is: <b>@TempData["tempname"]</b>
        </li>

        <li class="list-group-item">
            <a href="/Test/SecondPage">Go to Second Page</a>
        </li>

    </ul>
</div>

